@charset "utf-8"; /*인코딩은 html과 css를 항상 같게*/
@import url("https://spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css");  /*웹폰트 선언*/
@import url("./fonts.css");
@import url("./normalize.css");
@import url("./reset.css");     /*나중에 선언된 것을 사용한다. (앞에서 line-height를 1로 만든 후 뒤에서 다시 1.5로 만들면 최종적으로 1.5를 사용한다.)*/
/*숨김 콘텐츠*/
.a11y-hidden, legend, .readable-hidden{
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  margin: -1px;
  clip: rect(0, 0, 0, 0);
  clip-path: inset(0, 0); /*     clip: rect(0, 0, 0, 0);   ==    clip-path: inset(0, 0);   */
}

/*링크 스타일*/
a{
  color: inherit;
  text-decoration: none;
}

a:hover, a:focus{
  color: #ff0000;
}



/*공통 스타일*/
*, *::before, *::after{
  font-family: 'Spoqa Han Sans', 'Sans-serif';  /*별표 선택자로 모든 요소에 동일한 폰트적용*/
  box-sizing: border-box;
}
.clearfix::after{
  content: '';
  display: block;
  clear: both;
}
html{
  font-size: 10px;
}
body{
  margin: 0;
  font-weight: 400;
  color: #181818;
  font-size: 1.4rem;
}



/* 레이아웃 */
.container{
  /*display: flex;
  flex-direction: row;  direction방향(default=row)이 메인축이되고 그와 수직인 축이 교차축이 된다. 메인축정렬 justify content 교차축정렬 align items 
  flex-wrap: wrap; 줄바꿈 허용(row에서 옆으로 가는걸 줄을 바꿔주기 위함)
  justify-content: center;*/
  background: url("./images/bg_flower.png") no-repeat 50% 0, linear-gradient(to bottom, #999 0%, #aaa 50%, #ddd 70%, #fff 100%) ;
    
}
.header, .visual, .main, .slogan, .footer{/*한번에 여러개 클래스의 속성을 같게 설정하기 편함-지금은 각 클래스들의 가로 길이를 같게 하고 가운데 정렬을 시키기 위해 사용됨*/
  width: 940px;
  margin-left: auto;
  margin-right: auto;
}
/*헤더*/
.header{
  background: #fff; 
  position: relative;
  padding: 0px 30px;
  border-radius: 0 0 15px 15px;

}
/*로고*/
.logo{
  position: absolute;  /*absolute는 static이 아닌 가장 가까운 상위 요소를 기준으로 한다. 다 static이면 결국 body기준으로 배치된다.*/
  top: 50px;
  left: 65px;
}
.member{
  padding: 2px 0;
  text-align: right;
  font-size: 0;
}


.member li, .member a{
  display: inline-block;
}


.member li{
  font-size: 1.4rem;
}

.bar::before{
  content: ":";
}

.member a{
  padding:10px 8px;
  text-transform: uppercase;
}

.navigation{
  padding-bottom: 40px;
}

.menu{
  /* background-color: orange;
  background-image: linear-gradient(to bottom, red, purple); background-color 위에 색칠하기 때문에 orange 안보임 오류로 인해 배경이미지 로드 불가 시에는 background-color가 보인다. */
  background: #e2772b linear-gradient(to bottom, #fccd32 0%,#e2772b 30%,#e2772b 70%,#fccd32 100%);
  height: 47px;
  box-shadow: 0 -2px 0px 0px black;
  /* border-top: 2px solid black; */
  border-radius: 0 0 5px 5px;
  padding-left: 231px;
}

.menu-item{
  float: left;
  border-left: 2px solid rgba(255, 255, 255, 0.85);
  line-height: 47px;
  padding: 0 17px;
  position: relative;

}
.menu-item:focus, .sub-menu a:focus{
  outline: 0;
}

.menu-item-text{
  color: #fff;
  font-weight: 700;
  font-size: 1.6rem;
  text-shadow: 2px 0 0px #000, -2px 0 0px #000, 0 -2px 0px #000, 0 2px 0px #000;
}

.menu-act .menu-item-text{
  color: #ffff00;
  display: block;
  border-bottom: 2px solid black;
}


.sub-menu{
  position: absolute;
  display: none;
  top: 48px;
  white-space: nowrap;
  line-height: 1em;
  padding: 10px 0;
}
.sub-menu1, .sub-menu2, .sub-menu3{
  left: 0;
}

.sub-menu4, .sub-menu5, .sub-menu6{
  right: 0;
}

.menu-act .sub-menu{
  display: block;
}

.sub-menu li, .sub-menu a{
  display: inline-block;
}

.sub-menu a::before{
  font-family: "fontello";
  content: '\f192';
  font-style: normal;
  font-weight: normal;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
}

.sub-menu a:focus::before,
.sub-menu a:hover::before{
  content: '\e801';
}

.sub-menu li{
  margin-right: 1em;
}

@keyframes textAni{
  0%{
    font-size: 12px;
    color: rgba(0, 0, 0, 0);
    transform: translate(0, 0);
  }
  100%{
    font-size: 24px;
    color: rgba(0, 0, 0, 1);
    transform: translate(400px, 75px);
  }
}
.visual{
  height: 120px;
  position: relative;
}
@keyframes bgAni{
  0%{
    opacity: 1; 
  }
  100%{
    opacity: 0;
  }
}
.visual::before, .visual::after{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  animation: bgAni 8000ms infinite alternate;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-name: bgAni;
  animation-duration: 3000ms;
}
.visual::before{
  background-image: url("./images/ani_flower_01.png"), url("./images/ani_flower_02.png");
  background-position: 0 -10px, 670px 0;
  animation-delay: 0ms;
}
.visual::after{
  background-image: url("./images/ani_flower_03.png"), url("./images/ani_flower_04.png");
  background-position: 300px 0px, 800px 15px;
  animation-delay: 4000ms;
}

.visual-text{
  position: absolute;
  color: rgba(0, 0, 0, 0);
  animation-name: textAni;
  animation-duration: 700ms;
  animation-delay: 0ms;
  animation-fill-mode: forwards;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.main{
  background: #fff;
  border-radius: 15px 15px 0 0;
  min-height: 400px;
  /* height: 60vh; */
  /* display: flex;
  justify-content: space-between; */
  padding: 15px;
}

.group{
  margin: 15px;
  float: left;
}

.group1{
  width: 250px;
}
.group2{
  /* clear: both; */
  width: 380px;
  /* order:-1; */
}
.group3{
  width: 190px;
}
.login{
  background:radial-gradient(circle at right top, red, green);
  padding: 10px;
  border-radius: 5px;
  box-shadow: 5px 5px 0 0 #ccc;
}
.login-heading{
  font-weight: 700;
  color: #ff0;
  padding: 0 0 10px 10px;
}
.login-form label{
  display: inline-block;
  line-height: 25px;
  width: 4em;
}
.login-form input{
  width: 92px;
  height: 20px; 
  border: 1px solid #aaa;
  padding: 1px 1px 1px 5px;
}
.login-form, .sign{
  background-color: #fff;
  padding-top: 10px;
}
.sign li::before{
  color: orange;
  margin-right: 0;
  margin-left: 0;
}
.login-form fieldset{
  border-bottom: 1px solid #222;
  position: relative;
  padding: 3px;
}
.login-form{
  padding: 10px 10px 0px 10px; 
}
.btn-login{
  width: 50px;
  height: 50px;
  font-size: 12px;
  color: white;
  background-color: orangered;
  border: 2px solid lightsalmon;
  border-radius: 5px;
  position: absolute;
  top: 2px;
  right: 0;
}
.sign{
  display: flex;
  letter-spacing: -2px;
  justify-content: space-between; 
  padding: 10px;
}
.validation{
  margin-top: 25px;
}
.validation-list-item{
  line-height: 35px;
  background: url("./images/validation_icon.png") 20px 50%, #ccc linear-gradient( #ccc, #eee); border-radius: 18px;
  margin-bottom: 10px;
  margin-top: 10px;
  border: 2px solid #aaa;
  background-repeat: no-repeat
}
.validation-list-item a{
  padding-left: 45px;
  padding-right: 50px;
  padding-top: 10px;
  padding-bottom: 10px; 
}
.term{
  background: #ccc linear-gradient(#ccc, #eee);
  margin-top: 20px;
  border: 2px solid #aaa;
  border-radius: 5px;
  padding: 10px 15px;
}
.term-heading{
  font-weight: 700;
  font-size: 1.6rem;
}
.term-list{
  margin-top: 10px;
}
.odd .term-list-brief, .odd .term-list-subject{

  float: right;
  width: 145px;
}
.odd .term-list-subject{
  color: #296897;
}
.odd .term-list-thumbnail{
  float: left;
  margin-top: 4px;
}

/* .term-list-thumbnail img{
  vertical-align: top; 
} */
.even .term-list-brief{
  margin-top: 5px;
}
.even .term-list-subject{
  color: #296897;
  float: left;
  width: 150px;
  margin-top: 3px;
}
.even .term-list-thumbnail{
  float: right;
  margin-top: 7px;
}

.even .term-list-brief{
  margin-top: 5px;
  float: left;
  width: 150px;
}
.search{
  background: #ccc linear-gradient(#ccc, #eee);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  border: 2px solid #aaa;
  border-bottom: none;
}
.search input{
  width: 200px;
  height: 22px;
  padding: 1px 1px 1px 5px;
}





.btn-search{
  background: #444444;
  border: 1px solid;
  color: white;
  border-radius: 2px;
  padding: 0 12px;
  font-size: 1.3rem
}


[class$="more"]::before{
  color: hsla(110, 50%, 30%, 1); 
}

.board{
  position: relative;
  margin-top: 20px;
}
.tab{
  cursor: pointer;
}
.notice-heading-tab{
  position: absolute;
  top: 0;
  left: 0;
  height: 30px;
  width: 75px;
  background: #bbb;
  text-align: center;
  padding-top: 3px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border: 2px solid #aaa;
  border-bottom: white;
  color: #555;
}
.board-act .notice-heading-tab{
  position: absolute;
  top: 0;
  left: 0;
  height: 30px;
  width: 75px;
  background: white;
  text-align: center;
  padding-top: 3px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border: 2px solid orangered;
  border-bottom: white;
  color: orangered;
}


.pds-heading-tab{
  position: absolute;
  top: 0;
  left:75px; 
  height: 30px;
  width: 60px;
  background: #eee;
  text-align: center;
  padding-top: 3px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border: 2px solid #aaa;
  border-bottom: white;
  color: #555;
}
.board-act .pds-heading-tab{
  position: absolute;
  top: 0;
  left:75px; 
  background: white;
  text-align: center;
  padding-top: 3px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border: 2px solid orangered;
  border-bottom: white;
  color: orangered;
}

.board ul{
  padding-top: 50px;
  display: none;
}
.board-act ul{
  display: block;
}
.notice-more, .pds-more{
  display: none;
}
.board-act .notice-more, .board-act .notice-more{
  display: block;
  position: absolute;
  right: 0;
  top: 5px;
}
.board ul a{
  display: block;
  width: 280px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.board li{
  position: relative;
}
.board ul time{ 
  position: absolute;
  top: 0;
  right: 0;
}

.slogan{
  background: purple;
  height: 10vh;
}
.footer-bg{
  background: silver;
  /* flex-basis: 100%;
  display: flex;
  justify-content: center; */
}
.footer{
  background: yellow;
  height: 10vh;
}
